/*Seccion Galeria*/
.section-galeria {
  background-color: var(--color6);
  text-align: center;
  padding: 4rem 2rem 2rem;
  margin: 0 auto;
  scroll-margin-top: 100px;
}
.container-galeria {
  max-width: 1200px;
  margin: 0 auto;
}
.section-galeria h5 {
  margin-bottom: 1rem;
  color: var(--color4);
  text-align: center;
  font-size: 1rem;
}
.section-galeria h1 {
  font-family: "Caprasimo", serif;
  font-size: 2.2rem;
  margin: 2rem auto;
  color: var(--color5);
  font-weight: 300;
  max-width: 250px;
}
.section-galeria p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  color: var(--color5);
  margin: 1rem 0rem;
}
.carousel-container {
  width: 100%;
  overflow: hidden; /* Oculta el contenido que se sale del contenedor */
  position: relative; /* Permite posicionar los botones */
}
.carousel-slide {
  display: none; /* Oculta todas las diapositivas inicialmente */
  width: 100%;
  text-align: center;
}
.carousel-slide img {
  width: 100%; /* La imagen ocupa el 100% del ancho del slide */
  height: auto; /* Mantiene la proporción de la imagen */
}
.carousel-slide.active {
  display: block; /* Muestra la diapositiva activa */
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
} /* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  .carousel-slide {
    width: 50%; /* En pantallas más grandes, cada slide ocupa la mitad del contenedor */
  }
}
@media (min-width: 1024px) {
  .carousel-slide {
    width: 33.33%; /* En pantallas aún más grandes, cada slide ocupa un tercio */
  }
}
