/*Seccion Galeria*/
.section-galeria {
  background-color: var(--color6);
  text-align: center;
  padding: 4rem 2rem 2rem;
  margin: 0 auto;
  scroll-margin-top: 100px;
}
.container-galeria {
  max-width: 1200px;
  margin: 0 auto;
}
.section-galeria h5 {
  margin-bottom: 1rem;
  color: var(--color4);
  text-align: center;
  font-size: 1rem;
}
.section-galeria h1 {
  font-family: "Caprasimo", serif;
  font-size: 2.2rem;
  margin: 2rem auto;
  color: var(--color5);
  font-weight: 300;
  max-width: 250px;
}
.section-galeria p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  color: var(--color5);
  margin: 1rem 0rem;
}
.carousel-container {
  width: 100%;
  background-color: aquamarine;
  overflow: hidden; /* Oculta el contenido que se sale del contenedor */
  position: relative; /* Permite posicionar los botones */
}

.carousel-slide {
  display: none; 
  width: 100%;
  text-align: center;
}

.carousel-slide img {
  width: 100%; 
  height: auto; 
}

.carousel-slide.active {
  display: block; /* Muestra la diapositiva activa */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
} 

@media (min-width: 768px) {

  .section-galeria h5 {
    font-size: 1.1rem;
  }

   .section-galeria h1 {
    font-size: 2.5rem;
    line-height: 1;
    max-width: 100%;
  }

  .section-galeria p {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  .carousel-slide {
    width: 50%; 
 }
}


@media (min-width: 1024px) {

    .section-galeria h5 {
    font-size: 1.3rem;
    text-align: center;
  }

   .section-galeria h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
  }

  .section-galeria p {
    font-size: 1.2rem;
    max-width: 100%;
  }


.carousel-slide {
    width: 33.33%; }

}
